{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block body %}
<div class="container-fluid">
    <div class="row" id="about">
        <div class="col-12 text-center mt-4">
            <span id="about_title">About Us</span>
        </div>
        <div class="col-10 offset-1 text-center mt-4 p-4">
            <span id="about_text">We are the student of the Thakur College of Engineering and Technology.<br> We are developing this project to show the application of Rabin Karp String Matching Algorithms.....</span>
        </div>
        <div class="row m-4">
            <div class="col-4">
                <h3 id="student" class="text-center">Shivam Gupta</h3>
                <div id="student-detail">
                    <span>shivamgupta000915@gmail.com</span><br>
                    <span>IT Department</span><br>
                    <span>TEITA</span><br>
                    <span>32</span>
                </div>
            </div>
            <div class="col-4">
                <h3 id="student" class="text-center">Mohammad Ali Khan</h3>
                <div id="student-detail">
                    <span>kmohammadali@gmail.com</span><br>
                    <span>IT Department</span><br>
                    <span>TEITA</span><br>
                    <span>49</span>
                </div>
            </div>
            <div class="col-4">
                <h3 id="student" class="text-center">Rinkesh Kumawat</h3>
                <div id="student-detail">
                    <span>rinkeshkumawat00@gmail.com</span><br>
                    <span>IT Department</span><br>
                    <span>TEITA</span><br>
                    <span>53</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}